footer {
    padding: 18px 50px;
    background-color: #404040;
    box-shadow: 0 0 12px rgba(22,23,25,.25) inset;
    display: flex;
    align-items:center;
    width: 100%;
    flex-wrap: wrap
}
footer .footer-menu {
    margin: 0; padding: 0;
    list-style: none;
    min-width: 420px;
    text-align: center;
    font-size: 13px;
}
footer .footer-menu li {
    display: inline-block;
    padding: 0 8px;
    font-size: 13px;
}
footer .footer-menu li a {
    font-size: 13px;
    color: #8c8c8c;
    text-transform: uppercase;
    font-weight: bold
}
footer .footer-menu li a:hover {
    color: #78aa46
}

.footer-bt {
    width: 265px;
    min-width: 265px;
}

footer .site-info {
    margin: 0 0 0 30px; padding: 0;
    list-style: none;
    min-width: 220px;
}
footer .site-info li {
    display: inline-flex;
    text-align: center;
    font-size: 13px;
    margin-right: 10px;
}
footer .site-info li .sprite {
    margin-right: 5px;
}

.breadcrumbs {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #595959;
}
.breadcrumbs ul {
    margin:0; padding:0;
    list-style:none
}
.breadcrumbs ul li {
    display: inline-block;
    color:#8e8e8e;
    font-size: 14px;
    margin-right: 5px;
}
.breadcrumbs ul li a {
    color:#8e8e8e;
    margin-right:10px;
}
.breadcrumbs ul li span {
    color:#fff;
}
