header {
    width: 100%;
    height: 80px;
    max-width:1745px;
    padding: 0 10px;
    box-shadow:0 3px 7px rgba(18,20,23,.15);
    position: relative;
    z-index: 1
}
.header-inner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:space-between;
    align-items:center;
}
.mobile-menu-btn {
    display: none
}
.mobile-menu a {
    text-transform: uppercase
}
.logo {
    height: 100%
}
.logo a {
    display: table;
    margin-bottom: -40px;
    padding: 28px 22px;
    position: relative;
    z-index: 1;
    background-color: #78aa46;
    box-shadow: 0 3px 7px rgba(18,20,23,.25);
}
.logo a img {
    float: left;
    max-width: 100%
}
.main-menu {
    flex-grow: 1
}
.main-menu ul {
    width: 100%;
    margin: 0; padding: 0 0 0 20px;
    list-style: none;
    position:relative;
    bottom: -2px
}
.main-menu ul li {
    display: inline-block;
    padding:0 4px;
}
.main-menu ul li a {
    display: block;
    color: #585858;
    font-size: 13px;
    font-weight: bold;
    padding:0 2px 5px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}
.main-menu ul li a:hover,
.main-menu ul li.active a {
    border-color: #b2d78d
}
.header-right {
    display: flex;
    flex-direction:column-reverse
}
.header-phone {
    position: relative;
    font-weight: bold;
}
.header-phone .collapse,
.header-phone .collapsing {
    position: absolute;
    z-index: -1;
    left:-15px; top:26px;
    width:205px;
    background-color:#fff;
    padding:20px 0 20px 30px;
    color: #585858;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0 3px 7px rgba(18,20,23,.15) inset;
}
.header-phone .collapsing {
    padding:10px 0 0 30px
}
.header-phone a {
    color: #414141;
    font-size: 17px;
    white-space: nowrap
}
.header-phone a .sprite {
    position: relative;
    top:-1px
}
.callback {
    min-width:182px;
    margin-bottom: 10px
}
