html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    height: 100%
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {outline:none}



body {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #747474;
    background-color: #f5f5f5
}

a {
    text-decoration: none
}
a:hover,
a:link,
a:visited,
a:active {
    text-decoration: none
}

.bt {
    margin:0;
    padding:0 20px;
    display: flex;
    align-items:center;
    border:0;
    height:36px;
    line-height:36px;
    border-radius:30px;
    color:#fff;
    font-size:13px;
}
.bt .sprite {
    margin-right:8px
}
.bt.bt-prime {
    background-color:#ff864d
}
.bt.bt-second {
    height: 45px;
    line-height: 45px;
    background-color:#97cb63;
    font-weight: 800;
    text-transform: uppercase;
    justify-content: center;
}
.bt:hover, .bt:focus {
    color:#fff;
    opacity:.9;
    outline: 0;
}
.no-left-pad {
    padding-left: 0
}

.page-title {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto 70px;
}
.page-title h1 {
    color: #595959;
    font-size: 30px;
    margin: 0; padding: 0;
    font-family: 'PT Serif';
}
h2.h2 {
    margin: 0 auto 50px; padding: 0;
    font-size: 16px;
    color: #a6a6a6;
    font-weight: 800;
    display: table;
    text-transform: uppercase;
    position: relative;
}
h2.h2:before,
h2.h2:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 60px; height: 1px;
    background-color: #a6a6a6;
}
h2.h2:before {
    left: -100px;
}
h2.h2:after {
    right: -100px;
}

h3.h3 {
    margin: 0; padding: 0;
    font-family: 'PT Serif';
    text-align: center;
    color: #ff864d;
    font-size: 37px;
    text-align: center;
}
h3.article-title {
    font-family: 'PT Serif';
    font-size: 24px;
    color: #595959;
    font-weight: bold;
    margin-bottom: 20px;
}

.pad60 {
    padding-top: 60px!important;
}


.main-single {
    display: table;
    margin: 0 auto;
    padding: 0 50px 300px 50px;
    width: 100%;
    max-width: 1030px;
    background: transparent url(../img/about-bg.png) no-repeat center bottom;
}
.main-single h3 {
    padding-top: 60px
}
.main-single-desc {
    padding-top: 35px;
    text-align: center;
    line-height: 22px
}


.main-bg {
    overflow: hidden;
    position: relative;
    background-color: #f5f5f5;
}
.main-bg .main-bg-left {
    position: absolute;
    left:0; right:0; top:0; bottom:0;
    background: transparent url(../img/main-bg-left.png) no-repeat left bottom;
    background-size: 40% auto;
}
.main-bg .main-bg-right {
    position: absolute;
    left:0; right:0; top:0; bottom: 0;
    background: transparent url(../img/main-bg-right.png) no-repeat right top;
    background-size: 40% auto;
}

.main-bg-article {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 12px rgba(18,20,23,.04);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.main-bg-article--one {
    padding: 0 35px 0 130px;
    margin-bottom: 30px;
    min-height: 300px;
}
.main-bg-article .number {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
.main-bg-article--one .number {
    left: -20px;
    width: 123px; height: 218px;
    background: transparent url(../img/1.png) no-repeat left top;
}

.main-bg-article--two {
    padding: 0 130px 0 35px;
    margin-bottom: 30px;
    min-height: 298px;
}
.main-bg-article--two .number {
    right: -20px;
    width: 137px; height: 222px;
    background: transparent url(../img/2.png) no-repeat left top;
}
.main-bg-article-desc {
    line-height: 22px;
}
.main-bg-article-img {
    border-radius: 6px;
    margin-bottom: 30px;
    overflow: hidden
}
.main-bg-article-img img {
    float: left;
    width: 100%;
}

.main-contacts-bg {
    height: 460px;
    overflow: hidden;
    position: relative;
}
.main-contacts-bg:before {
    content: '';
    position: absolute;
    left: 48%;
    width: 100%; height: 200%;
    transform: rotateZ(9deg);
    background-color: rgba(255, 134, 77,.80);
    box-shadow: 0 0 12px rgba(22, 23, 25, 0.25);
    opacity: .8;
    z-index: 2
}
.main-contacts-bg--other-page:before {
    display: none;
}
.main-contacts {
    position: absolute;
    top:0; right: 0;
    display: flex;
    width: 45%; height: 100%;
    float: right;
    flex-direction:column;
    justify-content:center;
    color:#fff;
    z-index: 3
}
.main-contacts-bg--other-page .main-contacts {
    top: 50%;
    height: auto; width: 50%;
    padding:50px 0 50px 100px;
    box-shadow: 0 0 12px rgba(22, 23, 25, 0.25);
    border-radius: 8px 0 0 8px;
    transform: translate(0, -50%);
    background-color: rgba(255, 134, 77,.80);
}
.main-contacts .main-contacts-title {
    font-family: 'PT Serif';
    font-size: 30px;
    margin-bottom: 45px;
}
.main-contacts p {
    margin: 0; padding: 0;
    font-size: 24px;
    line-height: 30px;
}

.main-buy {
    width: 100%;
    max-width: 1690px;
    padding: 60px 50px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    background-color: #fff
}
.main-buy-title {
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: center;
    background-color: #97cb63;
    color:#fff;
    text-transform: uppercase;
    width: 100%;
    max-width: 555px; height: 360px;
    box-shadow: 0 0 12px rgba(22,23,25,.25);
    border-radius: 6px;
    text-align: center;
    font-family: 'PT Serif';
}
.main-buy-title strong {
    display: block;
    font-size: 65px;
    font-weight: bold
}
.main-buy-title span {
    display: block;
    font-size: 48px;
}
.main-buy-desc {
    width: calc(100% - 430px);
    height: 320px;
    position: relative;
}
.main-buy-desc-img {
    width: 100%;
    overflow: hidden
}
.main-buy-desc .bt {
    display: table;
    position: absolute;
    right: -35px; bottom: 20px;
    height: 52px;
    line-height: 52px;
    border-radius: 30px;
    font-weight: 700;
    padding: 0 45px;
    box-shadow: 0 0 8px rgba(22,23,25,.45);
    text-transform: uppercase;
}


.avantazh {
    display: flex;
    width: 100%;
}
.avantazh-left {
    width: 50%;
    background: #3a59ae url(../img/logo-avantazh.png) no-repeat center center;
    background-size: auto 100%;
    display: flex;
    align-items:center;
    padding-right: 115px;
    justify-content: flex-end
}
.avantazh-left-content {
    width: 465px;
}
.avantazh-right {
    width: 50%;
}
.avantazh-right img {
    max-width: 100%;
    float: left;
}
.avantazh-left-title {
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'PT Serif';
    margin-bottom: 30px;
}
.avantazh-left-desc {
    color: #fff;
    line-height: 22px
}


.services {
    padding-top: 75px;
    background: transparent url(../img/services-bg.png) no-repeat center top;
    background-size: 100% auto;
}
.article {
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto 30px;
    box-shadow: 0 0 24px rgba(22,23,25,.08);
    border-radius: 6px;
    background-color: #fff
}
.article:last-of-type {
    margin-bottom: 130px
}
.article-img {
    min-width: 458px;
}
.article-img img {
    float: left;
    width: 100%
}
.article:nth-of-type(even) .article-img {
    order: 2
}
.article-content {
    flex-grow: 1;
}
.flip {
    display: flex;
    height: 100%
}
.flip .front {
    position: relative;
    padding: 60px;
    background-color: #fff
}
.flip .back {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    background-color: #fff
}
.flip .back .bt {
    display: none
}
.flip .form h2 {
    font-size: 24px;
    color: #414141;
    text-align: left;
    text-transform: none;
    margin-bottom: 15px;
    font-weight: normal
}
.flip .form .txt {
    color: #414141;
}
.flip .unflip-bt {
    color: #585858;
    font-size: 42px;
    font-weight: 300;
    position: absolute;
    right: 20px;
    top: 8px;
    cursor: pointer;
    opacity: .8
}
.flip .unflip-bt:hover {
    opacity: 1
}
.article-title {
    color: #414141;
    font-family: 'PT Serif';
    font-size: 24px;
    line-height: 19px;
    margin-bottom: 30px;
}
.article-desc {
    color: #737373;
    font-size: 14px;
    line-height: 24px;
    max-height: 240px;
    overflow: auto;
}


.article-extra {
    position: absolute;
    min-height: 28px;
    bottom: 30px; left: 60px; right: 60px;
    display: flex;
    justify-content: space-between;
}
.article:nth-of-type(even) .article-extra .article-download {
    order: 2
}
.article:nth-of-type(even) .article-extra .bt {
    right: auto; left: -100px;
}
.article:nth-of-type(even) .flip .unflip-bt {
    right: auto; left: 20px;
}
.article-download {
    display: flex;
    align-items:center;
    color: #595959;
    font-size: 14px;
}
.article-download img {
    margin-right: 12px
}


.article-extra .bt {
    padding: 0 40px;
    position: relative;
    top:0; right: -100px;
    height: 44px;
    line-height: 44px;
    font-weight: bold
}
.flip .back {
    position: absolute;
    top:-8px;
}

.allCotages {
    padding-top: 80px;
}

.allCotages .page-title {
    display: flex;
    justify-content: space-between;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    box-shadow: 0 0 8px rgba(22, 23, 25, 0.06);
    border-radius: 14px;
    width: 100%; max-width: 680px;
}
.filters ul {
    display: flex;
    justify-content: space-between;
    padding:0 30px;
    flex-grow: 1
}
.filters ul li {

}
.filters ul li a {
    display: block;
    line-height: 28px;
    font-size: 11px;
    color: #8c8c8c;
}
.filters ul li a:hover,
.filters ul li.active a{
    color: #97cb63;
}

.filters ul li a .ico-flat svg {
    stroke:#acacac;
    fill:none
}
.filters ul li a:hover .ico-flat svg {
    fill:#97cb63
}
.filters ul li a .ico-floor svg {
    stroke:#acacac
}
.filters ul li a:hover .iico-floor svg {
    fill:#97cb63
}
.filters ul li a .ico-floor2 svg {
    stroke:#acacac;
    fill:none
}
.filters ul li a:hover .ico-floor2 svg {
    fill:#97cb63
}
.filters ul li a .ico-prize1 svg {
    stroke:#acacac;
    fill:none;
}
.filters ul li a:hover .ico-prize1 svg {
    stroke:#97cb63;
    fill:#97cb63
}
.filters ul li a .ico-prize2 svg {
    stroke:#acacac;
    fill:none;
}
.filters ul li a:hover .ico-prize2 svg {
    stroke:#97cb63;
    fill:#97cb63
}

.filters .bt {
    height: 30px;
    font-size: 13px;
    text-transform: none
}
.filters .bt span {
    padding-right: 15px;
}

.cottage {
    padding-top: 560px;
    position: relative
}
.cottage-top {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
.cottage-top .price {
    border-radius: 6px 6px 0 0;
    background-color: #97cb63;
    color: #fff;
    box-shadow: 0 -24px 18px rgba(22,23,25,.08);
    font-size: 36px;
    font-weight: bold;
    padding: 20px 40px 10px
}
.cottage-top .price sup {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: -12px;
}
.cottage-page-title {
    background-color: #fff;
    box-shadow: 0 -24px 18px rgba(22,23,25,.08);
    color: #595959;
    font-size: 30px;
    padding: 40px 55px 0 65px;
    border-radius: 6px 6px 0 0;
    min-width: 435px;
    font-family: 'PT Serif';
}
.cottage-page-title span {
    display: block;
    color: #8d8d8d;
    font-size: 16px;
    margin-top: 12px;
}
.cottage-article {
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    padding: 40px 0;
    box-shadow: 0 0 24px rgba(22, 23, 25, 0.08);
}
.cottage-title {
    color: #5a5a5a;
    font-size: 24px;
    font-family: 'PT Serif';
    margin-bottom: 40px;
}
.cottage-sub-title {
    color: #595959;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px
}
.cottage-info {
    width: 100%;
}
.cottage-info li {
    display: table;
    width: 100%;
    font-size: 14px;
    margin-bottom: 5px;
    border-bottom: 2px dotted #bebebe;
}
.cottage-info li .left {
    float: left;
    background-color: #fff;
    padding-right: 3px;
    position: relative;
    bottom: -4px
}
.cottage-info li .right {
    float: right;
    background-color: #fff;
    padding-left: 3px;
    position: relative;
    bottom: -4px
}
.cottage-desc {
    margin-top: 30px;
    color: #737373;
    font-size: 16px;
    line-height: 24px
}
.cottage-article-item {
    position: relative;
    padding: 0 55px 40px 65px;
}
.cottage-article-item img {
    width: 100%;
}
.cottage-article-item:before {
    content: '';
    position: absolute;
    height: 1px;
    left: 15px; right: 15px; bottom: 0;
    border-bottom: 1px #eaeaea solid;
}

.all-cottage {
    padding-top: 160px;
}
.all-cottage-item-hover {
    height: 100%;
    overflow: hidden;
    position: static;
    background-color: #fff;
    box-shadow: 0 0 24px rgba(22, 23, 25, 0.12);
    z-index: 1;
}
.all-cottage-item-hover:hover {
    height: auto;
}
.all-cottage-img img {
    width: 100%
}
.all-cottage-item {
    position: relative
}
.all-cottage-content {
    padding:30px 0 0 30px;
}
.all-cottage-item .bt {
    border-radius: 0;
    font-size: 20px;
    height:80px;
    line-height: 80px
}
.all-cottage-content-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px
}
.all-cottage-content-top .size {
    border-radius: 2px 0 0 2px;
    background-color: #ff864d;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding:10px 12px 0;
}
.all-cottage-content-top .size sup {
    font-size: 12px
}
.all-cottage-title,
.all-cottage-title a {
    color: #3f3f3f;
    font-size: 20px;
    font-weight: bold;
}
.all-cottage-title span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}

.all-cottage-item .price {
    color: #78aa46;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
.all-cottage-item .price sup {
    font-size: 14px;
    font-weight: normal;
    position: relative;
    top: -10px; left:5px
}
.all-cottage-item .count {
    font-size: 12px;
    color: #a6a6a6;
    text-transform: uppercase;
    padding-bottom: 30px
}
.all-cottage-item .extra {
    margin:0 30px 0 0;
    padding: 30px 0;
    border-top: 1px #f4f4f4 solid;
}
.all-cottage-item .extra .bt {
    display: table;
    margin: 30px auto 0;
    padding: 0 45px;
    font-size: 18px;
    text-transform: uppercase
}
.more {
    display: table;
    margin:0 auto 30px;
    width: 100%;
    max-width: 360px;
    text-align: center;
    height: 64px;
    line-height: 64px;
    font-size: 22px;
    font-weight: 600;
}


.modal--callback {
  text-align: center;
  padding: 0!important;
}

.modal--callback:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal--callback .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal--callback .modal-content {
    background-color: #262626;
    padding: 50px;
    text-align: center;
    border: 0;
}

.modal--callback .close {
    color: #585858;
    font-size: 42px;
    font-weight: 300;
    position: absolute;
    right: 20px; top: 8px;
    opacity: 1;
    text-shadow: none
}
.modal--callback .close:hover {
    color:#fff;
}

.form h2 {
    margin: 0; padding: 0;
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 50px;
}


.form .txt {
    background: transparent;
    border: 0;
    border-bottom:1px #5a5a5a solid;
    line-height: 60px;
    padding: 0 10px;
    color:#fff;
    width: 100%;
    font-size: 18px;
    font-weight: 300
}
.form .txt-wrap.succes .txt {
    border-bottom:3px #97cb63 solid;
    margin-bottom: -2px;
}
.form .txt-wrap {
    margin-bottom: 30px;
    position: relative
}
.form .txt-wrap span {
    position: absolute;
    left: 0; top: -6px;
    font-size: 14px;
    display: none;
    color: #ff6666
}
.form .txt-wrap.error .txt {
    border-bottom:3px #ff6666 solid;
    margin-bottom: -2px;
    color: #ff6666
}
.form .txt-wrap.error .txt:placeholder                {color:#ff6666}
.form .txt-wrap.error .txt::-webkit-input-placeholder {color:#ff6666}
.form .txt-wrap.error .txt::-moz-placeholder          {color:#ff6666}
.form .txt-wrap.error .txt:-moz-placeholder           {color:#ff6666}
.form .txt-wrap.error .txt:-ms-input-placeholder      {color:#ff6666}
.form .txt-wrap.error span {
    display: block
}
.form .bt-prime--center {
    height: 60px;
    margin:0 auto;
    padding: 0 45px;
    font-size: 20px;
    font-weight: 700
}

.contacts {
    display: flex;
    min-height: calc(100% - 161px);

}
.contacts-left {
    flex-basis: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative
}
.contacts-left-content {
    position: absolute;
    top: 20px
}
.contacts-right {
    padding: 20px 0;
    flex-basis: 50%;
    background-color: #ff864d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts-title {
    font-size: 46px;
    color:#fff;
    font-family: 'PT Serif';
    margin-bottom: 25px;
}
.contacts-title-desc {
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px
}
.contacts-content-phone {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px
}
.contacts-content-mail {
    font-size: 18px;
    color: #ff864d;
}
.contacts-right form {
    width: 100%;
    max-width: 620px
}
.contacts-right input {
    border: 1px #fff solid;
    opacity:.5;
    width: 100%; height: 58px;
    font-size: 13px;
    color: #fff;
    background-color: transparent;
    padding-left: 20px;
}
.contacts-right input:placeholder                {color:#fff; opacity: 1}
.contacts-right input::-webkit-input-placeholder {color:#fff; opacity: 1}
.contacts-right input::-moz-placeholder          {color:#fff; opacity: 1}
.contacts-right input:-moz-placeholder           {color:#fff; opacity: 1}
.contacts-right input:-ms-input-placeholder      {color:#fff; opacity: 1}

.contacts-right input:focus {
    opacity:1;
}

.contacts-right .textarea {
    margin: 30px 0;
    position: relative;
}
.contacts-right .textarea textarea {
    width: 100%;
    height: 130px;
    border: 1px #fff solid;
    background-color: transparent;
    padding: 10px 20px;
    color: #fff;
    opacity:.5;
}
.contacts-right .textarea textarea:focus {
    opacity: 1
}
.contacts-right .textarea textarea:focus + span {
    color:rgba(255,255,255,1);
}
.contacts-right .textarea span {
    display: block;
    position: absolute;
    left: 20px; top: -8px;
    background-color: #ff864d;
    padding: 0 10px;
    font-size: 13px;
    color:rgba(255,255,255,.5);
}
.contacts-right .bt {
    opacity: 1;
    display: table;
    width: auto;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    border: 0
}
.contacts-right .bt:hovcr {
    opacity: .8
}

.typical {
    padding-top: 80px;
    color: #747474;
    font-size: 14px;
}
.typical p {
    margin-bottom: 15px;
    line-height: 20px
}
.typical .article {
    display: block;
    padding: 0 60px;
    overflow: hidden
}
.typical h3 {
    font-family: 'PT Serif';
    color: #414141;
    font-size: 24px;
    margin-bottom: 15px
}

.big-slider {
    width: 100%
}
.gallery-item {
    width: 100%;
    position: relative;
}

.pos-img {
    position: absolute;
    left:0; top:0; right:0;
}
.pos-img img {
    width: 100%
}
.pos-img:before {
    content: '';
    position: absolute;
    left:0; right:0; bottom:0;
    height: 200px;
background: -moz-linear-gradient(top,  rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
background: -webkit-linear-gradient(top,  rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);
background: linear-gradient(to bottom,  rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f5f5', endColorstr='#f5f5f5',GradientType=0 );
}
.pos-img-content {
    position: relative;
    z-index: 1
}
.gallery-item {
    padding-top: 200px;
    background-size: 100% 100%;
}


.big-slider .slick-arrow span {
    transform: translate(0);
    top: 220px
}

.main-slider-title {
    color:#fff;
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 200px;
}
.slider,
.cottage-slider {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 60px;
}
.cottage-slider {
    max-width:1140px
}
.slider .slick-arrow.slick-next,
.slider .slick-arrow.slick-prev,
.cottage-slider .slick-arrow.slick-next,
.cottage-slider .slick-arrow.slick-prev {
    transform: translate(0, -50%);
    top: 50%;
    background: #fff;
    width: 50px; height: 120px;
    color:#f5f5f5;
    box-shadow: 0 0 12px rgba(22, 23, 25, 0.08);
    opacity: 1
}
.slider .slick-arrow:hover,
.cottage-slider .slick-arrow:hover{
    background: #ff864d;
}

.slider .slick-arrow.slick-prev,
.cottage-slider .slick-arrow.slick-prev {
    border-radius: 8px 0 0 8px;
    left: -50px
}
.cottage-slider .slick-arrow.slick-prev {
    left: 245px
}
.slider .slick-arrow.slick-next,
.cottage-slider .slick-arrow.slick-next {
    border-radius: 0 8px 8px 0;
    right: -50px
}
.cottage-slider .slick-arrow.slick-next {
    right: 245px;
}
.slider .slick-arrow:hover span,
.cottage-slider .slick-arrow:hover span {
    background-image: none
}
.slider .slick-arrow.slick-prev span,
.cottage-slider .slick-arrow.slick-prev span,
.slider .slick-arrow.slick-next span,
.cottage-slider .slick-arrow.slick-next span {
    background-image: none
}
.slider .slick-arrow.slick-prev span,
.cottage-slider .slick-arrow.slick-prev span,
.slider .slick-arrow.slick-next span,
.cottage-slider .slick-arrow.slick-next span {
    top: 50%; left:50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
}
.slider .slick-arrow span svg,
.cottage-slider .slick-arrow span svg {
    width: 100%; height: 100%;
    color:#000;
    fill:#000;
}
.slider .slick-arrow:hover svg,
.cottage-slider .slick-arrow:hover svg {
    color:#fff;
    fill:#fff;
}
.slider .slick-slide,
.cottage-slider .slick-slide {
    transform: scale(1,.9);
    filter: blur(2px);
}

.slider .slick-current,
.cottage-slider .slick-current {
    transform: scale(1);
    filter: blur(0);
    border-radius: 6px;
    overflow: hidden
}

.geoplan {
    display: table;
    width: 100%;
    position: relative
}

.geoplan img {
    float: left;
    width: 100%;
}
.geoplan .gen-item {
    position: absolute;
    width:0; height:0;
}

.geoplan .gen-item span {
    position: absolute;
    display: table;
    left:0; bottom:0;
    width:28px;
    transform: translate(-50%, 0);
    transition: width .15s ease-out 0.1s;
}
.geoplan .gen-item span:before {
    content: attr(data-cottage-number);
    position:absolute;
    top:7px; left:0; right:0;
    color: #414141;
    text-align: center;
    font-size: 11px;
    transition: top .15s ease-out 0.1s;
}
.geoplan .gen-item svg {
    fill:#fff;
    width: 100%; height:100%;
}
.geoplan .gen-item span:hover {
    cursor: pointer;
    width: 34px;
    transition: width .15s ease-out 0.1s;
}
.geoplan .gen-item span:hover svg {
    fill: #ff864d;
}
.geoplan .gen-item:hover span:before {
    color:#fff;
    top:10px;
    font-size:14px;
    transition: top .15s ease-out 0.1s;
}

.select-cottage {
    padding:15px;
    clear: both
}
.select-cottage select {
    width: 100%
}



	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 768px;
        top: 30px;
        bottom: 30px;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}

	.modal.right.fade .modal-dialog {
		right: -100%;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}

	.modal.right.fade.in .modal-dialog {
		right: 3%;
	}


.modal-content {
    background-color: #f6f6f6;
    box-shadow: 0 0 30px rgba(18, 20, 23,.5);
}
.modal-header {
    padding: 35px 50px;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #e6e6e6;
}
.modal-title-wrap {
    width: 290px;
}
.modal-extra {
    flex-grow: 1
}
.modal-close {
    width: 100%;
    max-width: 23px
}
.modal-close .close span {
    font-size: 50px;
    font-weight: 300;
}
.modal-title {
    font-size: 20px;
    color: #595959;
    max-width: 190px;
}

.modal-body {
    padding: 0;
}

.modal-body-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body-row:not(:first-of-type) .modal-body-img,
.modal-body-row:not(:first-of-type) .modal-body-cont {
    padding-top: 50px;
}

.modal-body-row:last-of-type .modal-body-img,
.modal-body-row:last-of-type .modal-body-cont {
    padding-bottom: 35px
}

.modal-body-img {
    width: 100%;
    min-width: 365px;
    max-width: 365px;
    text-align: center;
    border-right: 1px solid #e6e6e6;
}

.modal-body-cont {
    flex-grow: 1;

    padding: 0 35px;
}

.modal-body-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px
}
.modal-body-title-left {
    color: #595959;
    font-size: 14px;
}
.modal-body-title-right {

}
.modal-body-title-right .price {
    color: #595959;
    font-size: 30px;
    font-weight: bold
}
.modal-body-title-right .price sup {
    font-size: 18px;
}
.modal-body-cont .cottage-info li .left,
.modal-body-cont .cottage-info li .right {
    background-color: #f6f6f6
}

.modal-body-cont.contacts-right {
    background: transparent
}

.modal-body-cont.contacts-right input,
.modal-body-cont.contacts-right textarea {
    border-color:#d9d9d9;
    color: #d9d9d9;
    opacity: 1
}

.contacts-right .textarea span {
    color: #d9d9d9;
    background-color: #f6f6f6
}

.modal-body-cont.contacts-right input.bt {
    color: #fff;
    font-size: 12px;
    max-width: 200px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold
}
.modal-body-cont.contacts-right .textarea textarea:focus,
.modal-body-cont.contacts-right input:focus{
    border-color: #ff864d;
    box-shadow:none
}
.contacts-right .textarea textarea:focus + span {
    color: #ff864d
}

.modal-body-cont.contacts-right input:placeholder                {color:#d9d9d9; opacity: 1}
.modal-body-cont.contacts-right input::-webkit-input-placeholder {color:#d9d9d9; opacity: 1}
.modal-body-cont.contacts-right input::-moz-placeholder          {color:#d9d9d9; opacity: 1}
.modal-body-cont.contacts-right input:-moz-placeholder           {color:#d9d9d9; opacity: 1}
.modal-body-cont.contacts-right input:-ms-input-placeholder      {color:#d9d9d9; opacity: 1}


/* Slider */
.img-lightbox {
    display: block;
    position: relative;
}
.img-lightbox:before {
    content: '';
    display: none;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(151,203,99,.75) url(../img/zoom.png) no-repeat center center
}
.img-lightbox:hover:before {
    display: block
}
.small-slider {
    margin: 0 -10px
}
.small-slider img {
    width: 100%
}
.small-slider .slick-slide {
    padding: 0 10px;
}
.small-slider .slick-arrow {
    width: 50px;
    height: 110px;
    background-color: #fff;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
}
.small-slider .slick-arrow.slick-prev {
    border-radius:6px 0 0 6px;
    left: -40px;
}
.small-slider .slick-arrow.slick-next {
    border-radius:0 6px 6px 0;
    right: -41px;
}
.small-slider .slick-arrow:hover {
    background-color: #ff864d
}
.small-slider .slick-arrow:hover span svg {
    fill:#fff;
}
.small-slider .slick-arrow span {
    left: 50%!important;
    width: 30px;
    transform: translate(-50%,-50%);
    background: none!important;
}
.small-slider .slick-arrow span svg {
    fill:#bfbfbf;
    width: 100%; height: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img {
    max-width: 100%
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}
.slick-arrow {
    position: absolute;
    top: 0; bottom: 0;
    width: 145px;
    z-index: 1;
    opacity: .5;
}
.slick-arrow:hover {
    opacity: 1
}
.slick-arrow span {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 30px; height: 57px;
}
.slick-arrow.slick-prev {
    left: 0
}
.slick-arrow.slick-next {
    right: 0
}
.slick-arrow.slick-prev span {
    right: 0;
    background: transparent url("../img/slider-arrow-left.png") no-repeat left top
}
.slick-arrow.slick-next span {
    left: 0;
    background: transparent url("../img/slider-arrow-right.png") no-repeat left top
}

.contacts-right .wpcf7-not-valid {
    border:1px red solid
}

.contacts-right span.wpcf7-not-valid-tip {
    font-size: 12px;
    color:red
}
.contacts-right .wpcf7-response-output {
    font-size: 14px;
    border:0;
    color:green;
    margin:15px;
}
.contacts-right .wpcf7-response-output.wpcf7-validation-errors {
    color:red
}

#map {width: 100%;height: 460px;}
#mapContact {width: 100%; height:100%}
